@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('home_wall.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    color: white; /* Spremeni barvo besedila */
    text-decoration: none; /* Odstrani podčrtavanje */
    padding: 7px 15px; /* Doda notranji prostor za lepši izgled */
    margin: 0 5px; /* Dodaj nekaj razmaka med povezavami */
    position: relative; /* Za animacijo ::before */
    transition: color 0.3s; /* Animacija za spreminjanje barve */
    font-size: 18px;
}

.navbar a:hover, .navbar a.active {
    color: yellowgreen; /* Spremeni barvo ob prehodu miške */

}

.navbar a::before {
    content: '';
    position: absolute;
    bottom: -5px; /* Premakni pod link */
    left: 0;
    width: 0%;
    height: 2px;
    background: yellowgreen; /* Spremeni barvo animacije */
    transition: width 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}

.event-form-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-field {
    margin-bottom: 20px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-field input[type="text"],
.form-field input[type="number"],
.form-field select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: yellowgreen;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: darkgreen;
}
.redirect-button-container {
    text-align: center;
    margin-top: 20px;
}

.redirect-button {
    padding: 10px 20px;
    background-color: yellowgreen;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.redirect-button:hover {
    background-color: darkgreen;
}
.content {
    margin-top: 60px; /* Adjust based on your header's height */
    opacity: 0; /* Start with the content being invisible */
    transition: opacity 2s ease-in-out; /* Animation for the content to appear */
    color: white; /* Set text color to white */
    font-size: 18px; /* Increase font size */
    font-family: 'Poppins', sans-serif; /* Example font family, adjust as needed */

}
